*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
background-color:green;    
margin: 0 auto;
width:300px;




}

div.formulario {
    width: 300px;
    margin: auto;
    background-color: gray;
    padding: 80px;
    border-radius: 15px;   
    text-align: left; 
}